// ==========================================================================
// Lists Atom
// ==========================================================================

/*doc
---
title: Lists
name: lists
category: atoms
---
*/

%list-base {
    font-size: 30px;
    padding-left: rem-calc(15);
    margin-bottom: rem-calc(15);

    li {
        margin-bottom: 5px;
        color: green;

        &:before {
            left: 0;
        }
    }

    // nested list
    ul, ol {
        margin-top: 5px;
        margin-left: 5px;
    }
}


/*doc
---
title: Unordered Lists
name: lists_unordered
category: atoms
parent: lists
---

```html_example
<ul class="list--bullet">
    <li>Item 1
        <ul>
            <li>Item 1.1</li>
            <li>Item 1.2
                <ul>
                    <li>Item 1.2.1</li>
                    <li>Item 1.2.2</li>
                </ul></li>
        </ul></li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
```
*/

@mixin list--bullet {
    @extend %list-base;

    li {
        position: relative;
        padding-left: rem-calc(15);


        &:before {
            content: "";
            position: absolute;
            top: calc(1.2em - 11px);
            width: rem-calc(6);
            height: rem-calc(6);
            border-radius: rem-calc(6);
            background-color: black;
        }
    }
}

.list--bullet {
    @include list--bullet;
}


/*doc
---
title: Ordered Lists
name: 8_lists_ordered
category: atoms
parent: 8_lists
---

```html_example
<ol class="list--numbered">
    <li>Item 1
        <ol>
            <li>Item 1.1</li>
            <li>Item 1.2</li>
        </ol></li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>
```
*/

@mixin list--numbered {
    @extend %list-base;
    counter-reset: list;

    li {

        &:before {
            counter-increment: list;
            color: black;
            margin-right: rem-calc(5);
        }
    }

    ol {
        counter-reset: list;
    }
}

.list--numbered {
    @include list--numbered;
}


/*doc
---
title: Lists container
name: 9_lists_container
category: atoms
parent: 8_lists
---

List styles can be added to children using the `.u-styled-lists` container class

```html_example
<div class="u-styled-lists">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
</div>
```

*/

.u-styled-lists {
    ul {
        @include list--bullet;
    }

    ol {
        @include list--numbered;
    }
}
